:root {
    /* Sizes */
    --listBlock-width: 553px;
    --listBlock-height: 483px; 

    --inputBlock-width: 403px;
    --inputBlock-height: 61px; 
    --inputText-size: 30px;

    --noteBlock-width: var(var(--input-width));
    --noteBlock-height: 54px;
    --noteText-size: 20px;
    --noteTime-width: 62px;
    --noteTime-height: 54px;
    --noteTimeText-size: 25px;

    --scrollBlock-width: 27px;
    --scrollBlock-height: 394px;
    --scroll-width: 27px;
    --scroll-height: 41px;

    --line-width: 425px;
    --line-thickness: 5px;

    --decorationLine-smallest-thickness: 3px;
    --decorationLine-largest-thickness: 5px;

    /* Colors */
    --background: linear-gradient(135deg, #1DE691, #10BF75);

    --listBlock-color: #11D784;

    --inputBlock-color: rgba(11, 252, 151, 0.7);
    --inputText-color: rgba(0, 0, 0, 0.3);

    --noteBlock-color: #10BF75;
    --noteText-color: #fff;
    --noteTime-color: #1DE691;
    --noteTimeText-urgent-color: rgba(255, 0, 0, 0.7);
    --noteTimeText-medium-color: rgba(255, 153, 0, 0.8);
    --noteTimeText-notUrgent-color: #05FF00;

    --scrollBlock-color: var(--noteBlock-color);
    --scroll-color: #0BFC97;

    --list-line-color: #7BF4C1;
}

* {
    font-weight: 600;
    color: #fff;
    box-sizing: border-box;
}

html {
    background-color: #10BF75;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Body Elements */
.notes-container {
    background-color: var(--listBlock-color);
    width: var(--listBlock-width);
    height: var(--listBlock-height);
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.25);
}

/* Lines BG */
.lines {
    position: absolute;
    rotate: -55deg;
}
#line1 {
    background-color: #43C558;
    width: 283px;
    height: 3px;
}
#line2 {
    background-color: #41E25B;
    width: 432px;
    height: 5px;
}
#line3 {
    background-color: #36B54B;
    width: 432px;
    height: 5px;
}
#line4 {
    background-color: #29993B;
    width: 283px;
    height: 3px;
}
